@model ASPMVCProducts.ViewModels.ProductEntryDeleteViewModel

@{
    ViewBag.Title = "Delete entry";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Delete product</legend>

    

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>
</fieldset>
<form id="form-productlistentryDelete" action="/ProductLists/@Model.ListId/Delete/@Model.EntryId" method="post">
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
</form>
