@model ASPMVCProducts.Models.ProductList

@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Products</h1>
<p>
    @Html.ActionLink("Create New", "Create", new { listid = Model.Id })
</p>
<table id="table-productlistentries">
    @if(Model.Products.Count > 0 ){
    <tr>
        <th>
            Product name
        </th>
        <th></th>
    </tr>
    }
    @foreach (var item in Model.Products)
    {
    <tr id="tr-productlistentry-@item.Id">
        <td>
            @item.Product.Name
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", "ProductEntries", new { listid = Model.Id, id = item.Id }, null)
            @Html.ActionLink("Delete", "Delete", "ProductEntries", new { listid = Model.Id, id = item.Id }, null)
        </td>
    </tr>
    }

</table>