

.product-entry form, .product-entry input, .productcategory-entry form, .productcategory-entry input {
    background-color: transparent;
    color: blue;
    border: none;
    cursor: pointer;
    display: inline;
    margin: 0px;
}


.product-entry input, .productcategory-entry input {
    text-decoration: underline;
}
