
body {
    padding:100px;
    background-color: #fff;
    color: #333;
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
}
.product-entry,.productcategory-entry {
    margin-top:10px;
    margin-bottom:10px;
    background-color:lightgray;
    padding-left:10px;
    padding-bottom:10px;
}

.product-entry h3 {
    margin-top:3px;
    margin-bottom:5px;
}

.productcategory-entry h3 {
    margin-top:3px;
    margin-bottom:5px;
}

.product-details,.productcategory-details {
    margin-left:10px;
    margin-bottom:10px;
}

.product-entry form,.product-entry input,.productcategory-entry form,.productcategory-entry input  {
    background-color: transparent;
    color:blue;
    border: none;
    cursor: pointer;
    display:inline;
    margin:0px;
}


.product-entry input,.productcategory-entry input   {
    text-decoration: underline;
}

.categories-div {
    margin-top:3px;
    margin-bottom:3px;
}


.category-label {
    border-radius: 3px;
    background:lightgray;
    padding-left:3px;
    padding-right:3px;
    margin-left:3px;
    margin-right:3px;
    display: inline-block;
    vertical-align: middle;
    line-height:1.5;
}


.category-label-delete {
    font-weight:900;
    margin-left:3px;
    margin-right:3px;
    
}

.category-label-delete:hover {
    color:red;
    
}