@model IEnumerable<ASPMVCSignalRTest.Models.ProductList>

@{
    ViewBag.Title = "Lists";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<form id="form-productlistAdd" action="/ProductLists/Create" method="post">
    @Html.AntiForgeryToken()
    <fieldset>
        <legend>Product list creation</legend>
        <div class="editor-field">
            <input class="text-box single-line" id="Name" name="Name" type="text" value="" />
            <span class="field-validation-valid" data-valmsg-for="Name" data-valmsg-replace="true"></span>
        </div>

        <input type="submit" value="Add" />
    </fieldset>
</form>

<div id="div-productlists">
@foreach (var item in Model)
{
    <div id="div-productlist-@item.Id" class="div-productlist">
        <div class="div-productlist-name">
            <a href="/ProductLists/@item.Id">
                @Html.DisplayFor(modelItem => item.Name)
            </a>
        </div>
        <div class="div-productlist-delete">
            <form id="form-productlistDelete" action="/ProductLists/Delete/@item.Id" method="post">
                @Html.AntiForgeryToken()
                <input type="image" src="~/Images/delete.png"/>
                
            </form>
        </div>
    </div>
}
</div>


