@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}
<div id="div-errorpage">
    <h1 class="error">Uuuuppppss!! Something didn't work as expected...</h1>
    <img src="Images/Munch-Error.png" />
    <h2 class="error">But don't panic, life goes on ;)</h2>
</div>
