@{
    ViewBag.Title = "Client applications";
}

<div id="div-client-apps">
<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

    <h4>Windows desktop (WPF)</h4>
    <p>
        <a>Executable (zip)</a> <a>Source</a>
    </p>
    <h4>Windows 8 store app</h4>
    <p>
        <a>Executable (zip)</a> <a>Source</a>
    </p>
    <h4>Windows phone 8 app</h4>
    <p>
        <a>Executable (zip)</a> <a>Source</a>
    </p>
    <h4>Android</h4>
    <p>
        Comming soon...
    </p>

    <h4>IOS</h4>
    <p>
        Comming soon...
    </p>
</div>