
@{
    ViewBag.Title = "Index";
}

<h2>Main</h2>

<p>
    @Html.ActionLink("View products", "Index", "Products")
</p>
<p>
    @Html.ActionLink("View product categories", "Index", "ProductCategories")
</p>



